
body{
    background: lightgray;
}
#title div{
    display: block;
    text-align: center;
}
#img-div{
    background: white;
}

#image{
   max-width: 100%;
   display: block;
   max-height: 100%;
   margin: 0 auto;
}